.gallery-page .background-image {
  background-image: url("../assets/Fondo2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: blur(4px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 80vw;
  padding: 50px 40px;
  margin: 130px 0 60px;
  background-color: var(--contenedor);
  border-radius: 30px;
}
.gallery-page .titulo h1 {
  letter-spacing: 5px;
}

.linea-gallery {
  color: var(--rosa);
  border-style: solid;
  margin: 20px 0 0px;
}
.gallery-types {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.gallery-section h3 {
  font-size: 23px;
  color: var(--gris);
  letter-spacing: 1px;
  margin-top: 2em;
}
.gallery-page .element-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 2%;
  margin: 0;
  width: 100%;
  justify-content: stretch;
}
.gallery-page .element {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 0 15px;
  width: 180px;
  margin: 0;
  border-radius: 8px;
  background-color: var(--blanco);
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.gallery-page .element-img {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
  margin: 0;
  border-radius: 8px;
  background-color: var(--blanco);
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.gallery-page .element h4 {
  margin: 20px 0 0;
  color: var(--rosa);
  padding: 0px 13px 5px;
  font-size: 13px;
}
.gallery-page .element p {
  padding: 5px 13px 0;
  font-size: 13px;
  color: var(--gris);
}
.gallery-page .element img {
  height: 120px;
  width: 100%;
  object-fit: cover; /* La imagen llena el contenedor */
}
.gallery-page .element-img img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/* Estilos del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}
.modal-image {
  max-width: 80vw;
  max-height: 80vh;
  min-height: 60vh;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .element-img {
    width: 150px;
  }
  .element-img img {
    height: 150px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .gallery-container {
    margin: 0px 0;
    border-radius: 0px;
    padding-top: 80px;
  }
}
@media screen and (max-width: 460px) {
  .element {
    width: 150px;
  }
  .element p {
    padding: 5px 13px 0;
    font-size: 11px;
  }
  .element h4 {
    padding: 5px 13px 0;
    font-size: 13px;
  }
}
@media screen and (max-width: 385px) {
  .element {
    width: 130px;
  }
  .element h4 {
    font-size: 11px;
  }
}
