.turn-page .background-image {
  background-image: url("../assets/Fondo2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: blur(4px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.turn-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 50px 40px 35px;
  margin: 130px 0 100px;
  background-color: var(--contenedor);
  border-radius: 30px;
}
.turn-container .titulo h1 {
  letter-spacing: 5px;
}
.misTurnos-container hr {
  color: var(--rosa);
  border-style: solid;
  margin: 20px 0 0px;
}
.turn-container h3 {
  font-size: 23px;
  color: var(--gris);
  letter-spacing: 1px;
  margin-top: 2em;
}
.misTurnos-container {
  display: flex;
  gap: 2%;
  overflow-x: auto;
  width: 90%;
  margin: 5px auto 30px;
  padding: 5px 10px 15px;
}
.misTurnos-container .turno {
  display: flex;
  flex-direction: column;
  background-color: var(--blanco);
  border-radius: 15px;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  justify-content: space-between;
}
.misTurnos-container .turno h4 {
  margin: 5px 0;
  color: var(--rosa);
  font-size: 20px;
  word-wrap: break-word; /* Rompe palabras largas para ajustarlas al contenedor */
  overflow-wrap: break-word;
}
.newTurnButton .MainButton {
  display: flex;
  margin: auto;
}
.misTurnos-container .SecondButton {
  font-size: 12px;
  padding: 5px 5px;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .misTurnos-container .turno {
    padding: 6px;
  }
  .misTurnos-container .turno p {
    margin: 0px;
    font-size: 11px;
  }
  .misTurnos-container .turno h4 {
    font-size: 15px;
  }
  .misTurnos-container {
    padding: 5px 5px 15px;
    width: 100%;
  }
  .misTurnos-container .SecondButton {
    font-size: 11px;
    padding: 5px 5px;
    display: flex;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .turn-container {
    margin: 0px 0;
    border-radius: 0px;
    padding-top: 80px;
  }
  .misTurnos-container .turno {
    padding: 6px;
  }
  .misTurnos-container .turno p {
    font-size: 10px;
  }
  .misTurnos-container .turno h4 {
    font-size: 13px;
  }
  .misTurnos-container .SecondButton {
    font-size: 9.5px;
    padding: 5px 5px;
    display: flex;
    margin: auto;
    width: 44px;
  }
}
@media screen and (max-width: 385px) {
  .misTurnos-container .turno {
    width: 130px;
  }
  .misTurnos-container .turno h4 {
    font-size: 11px;
  }
}
