.turn-page .background-image {
  background-image: url("../assets/Fondo2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: blur(4px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.turn-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 80vw;
  padding: 50px 40px;
  margin: 130px 0 60px;
  background-color: var(--header);
  border-radius: 30px;
}
.turn-container .titulo h1 {
  letter-spacing: 5px;
}
hr {
  color: var(--rosa);
  border-style: solid;
  margin: 20px 0 0px;
}
.turn-container h3 {
  font-size: 23px;
  color: var(--gris);
  letter-spacing: 1px;
  margin-top: 2em;
}
.misTurnos-container {
  display: flex;
  gap: 2%;
  overflow-x: auto;
  width: 90%;
  margin: 5px auto 30px;
  padding: 5px 10px 15px;
}
.misTurnos-container .turno {
  display: flex;
  flex-direction: column;
  background-color: var(--blanco);
  border-radius: 15px;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  justify-content: space-between;
}
.turno h4 {
  margin: 5px 0;
  color: var(--rosa);
  font-size: 20px;
  word-wrap: break-word; /* Rompe palabras largas para ajustarlas al contenedor */
  overflow-wrap: break-word;
}
.turn-page .MainButton {
  display: flex;
  margin: auto;
}
.misTurnos-container .SecondButton {
  font-size: 12px;
  padding: 5px 5px;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .turno {
    padding: 6px;
  }
  .turno p {
    margin: 0px;
    font-size: 11px;
  }
  .turno h4 {
    font-size: 15px;
  }
  .misTurnos-container {
    padding: 5px 5px 15px;
    width: 100%;
  }
  .misTurnos-container .SecondButton {
    font-size: 11px;
    padding: 5px 5px;
    display: flex;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .turn-container {
    margin: 70px 0;
  }
  .turno {
    padding: 6px;
  }
  .turno p {
    font-size: 10px;
  }
  .turno h4 {
    font-size: 13px;
  }
  .misTurnos-container .SecondButton {
    font-size: 10px;
    padding: 5px 5px;
    display: flex;
    margin: auto;
    overflow: hidden;
    width: 44px;
  }
  .turn-page .background-image {
    background-color: var(--blanco);
    background-image: none;
  }
}
@media screen and (max-width: 385px) {
  .turno {
    width: 130px;
  }
  .turno h4 {
    font-size: 11px;
  }
}

.turno-component {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 50px auto;
}

.turno-component .icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.turno-component .icon img {
  width: auto;
  height: 25px;
  margin: 0 10px 5px;
}

.turno-component .icon h1 {
  font-size: 26px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.turno-component p {
  opacity: 0.6;
  margin: 0 0 0px 10px;
}

.turno-component h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--gris);
  letter-spacing: 1px;
}

.turno-component .Contenedor-dropdowns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.turno-component .box {
  flex: 1 1 calc(50% - 20px);
}

.turno-component .box h4 {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--gris);
}

.turno-component .box input[type="date"] {
  padding: 8px;
  border: 2px solid var(--rosa-fuerte);
  border-radius: 4px;
  font-size: 14px;
  color: var(--rosa);
  background-color: var(--rosa-claro);
  font-weight: bold;
}

.turno-component .detalles h4 {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--gris);
}

.turno-component .detalles .textbox {
  height: auto;
  min-height: 50px;
  max-height: 150px;
  min-width: 85%;
  max-width: 85%;
  padding: 8px;
  border: 2px solid var(--rosa-fuerte);
  border-radius: 5px;
  font-size: 13px;
}

.turno-component .MainButton {
  margin: 30px auto 10px;
  padding: 10px 15px;
  font-size: 16px;
}
