header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--header);
  backdrop-filter: blur(10px);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  align-items: center;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.05);
}

header .marca {
  display: flex;
  align-items: center;
}
header img {
  height: 40px;
  width: auto;
  margin-right: 8px;
}

.MarcaName {
  font-size: 30px;
}

header .enlaces {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

.enlaces .SecondButton {
  width: auto;
  padding: 6px 12px;
  font-size: 15px;
  display: none;
}

.enlaces .MainButton {
  width: auto;
  padding: 6px 8px;
  font-size: 15px;
  /*display: none;*/
}

@font-face {
  font-family: "Rochester";
  src: url(../assets/RochesterFont/Rochester-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 650px) {
  #root a {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  .marca a p {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 450px) {
  header .enlaces {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: -5px;
    gap: 10px;
  }
  input {
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  header img {
    height: 30px;
  }
}
@media screen and (max-width: 370px) {
  header {
    padding: 10px 5px;
  }
  .enlaces .MainButton {
    width: auto;
    padding: 6px 4px;
    font-size: 13px;
    margin-right: 3px;
  }
}
@media screen and (max-width: 340px) {
  header img {
    visibility: hidden;
    display: none;
  }
  header {
    padding: 10px 2px;
  }
  .enlaces .MainButton {
    width: auto;
    padding: 5px 3px;
    font-size: 12px;
    margin-right: 3px;
  }
  header .enlaces {
    gap: 10px;
  }
}
