header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  align-items: center;
}

.marca {
  display: flex;
  align-items: center;
}
img {
  height: 40px;
  width: auto;
  margin-right: 8px;
}

.MarcaName {
  font-size: 30px;
}

.enlaces {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 15px;
}

.enlaces .MainButton {
  width: auto;
  padding: 6px 8px;
  font-size: 15px;
}

@font-face {
  font-family: "Rochester";
  src: url(../assets/RochesterFont/Rochester-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 550px) {
  .marca a p {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .enlaces {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: -5px;
    gap: 10px;
  }
  #root a {
    font-size: 12px;
  }
  input {
    font-size: 12px;
  }
}
