:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --rosa: #d42f69;
  --amarillo: #eea93b;
  --verde: #649e4c;
  --rojo: #ff0000;
  --text: #111111;
  --gris: #303030;
  --gris-claro: #a1a1a1;
  --blanco: #ffffff;
  --rosa-claro: #fdf4f7;
  --rosa-fuerte: #f8dee7;
  --header: rgba(255, 255, 255, 0.9);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: var(--rosa-claro);
}
a {
  color: var(--rosa);
  text-decoration: none;
  font-weight: bold;
}
.MarcaName {
  color: var(--amarillo);
  font-family: "Rochester";
  font-weight: normal;
}
p {
  font-size: 15px;
  margin: 0;
}
.textbox {
  padding: 10px 10px;
  border-style: solid;
  border-color: var(--rosa-fuerte); /* Color del borde */
  border-width: 1px;
  border-radius: 5px;
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  background-color: var(--rosa-claro);
  font-size: 15px;
  color: var(--rosa);
  outline: none;
}
input::placeholder {
  color: var(--rosa);
  opacity: 0.6;
}

.MainButton {
  padding: 10px;
  border: none;
  background-color: var(--rosa);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: transform 0.3s ease; /* Transición suave */
  opacity: 85%;
  justify-content: center;
}
.SecondButton {
  padding: 10px;
  border: none;
  background-color: var(--rosa-fuerte);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: var(--rosa);
  transition: transform 0.3s ease; /* Transición suave */
  opacity: 85%;
}

.MainButton:hover {
  transform: scale(1.05);
  opacity: 95%;
}
.SecondButton:hover {
  transform: scale(1.05);
  opacity: 95%;
}

.MensajeError {
  color: var(--rojo);
  text-align: left;
  font-size: 11px;
  /*display: none*/
}

@media screen and (max-width: 430px) {
  #root {
    padding: 0px;
  }
}
